nav {
    text-align: center;
}

body {
    background-color: lightskyblue;
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

#key_usage {
    max-width: inherit;
}

.logo {
    width: 30%;
    max-width: 400px;
}

.screenshot {
    display: inline-block;
    width: 50%;
}

.image_section {
    
}

#ground_policy{
    color: red;
}

ul > li {
    text-align: left;
}